<?xml version='1.0'?> 
<config>
    <modules>
        <MAX_Gallery>
            <version>0.0.1</version>
        </MAX_Gallery>
    </modules>  
    <admin>
        <routers>
            <max_admin>
                <use>admin</use>
                <args>
                    <module>MAX_Gallery</module>
                    <frontName>max_admin</frontName>
                </args>
            </max_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <dsnews module="maxgallery">
                <title>Gallery</title>
                <sort_order>78</sort_order>
                <action>max_admin/adminhtml_gallery</action>
            </dsnews>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <maxgallery>
                <class>MAX_Gallery_Block</class>
            </maxgallery>
        </blocks>
        <helpers>
            <maxgallery>
                <class>MAX_Gallery_Helper</class>
            </maxgallery>
        </helpers>
        <models>
            <maxgallery>
                <class>MAX_Gallery_Model</class>
                <resourceModel>maxgallery_resource</resourceModel>
            </maxgallery>
            <maxgallery_resource>
                <class>MAX_Gallery_Model_Resource</class>
                <entities>
                    <table_gallery>
                        <table>max_gallery</table>
                    </table_gallery>
                </entities>
            </maxgallery_resource>
        </models>
        <resources>
            <maxgallery_setup>
                <setup>
                    <module>MAX_Gallery</module>
                </setup>
            </maxgallery_setup>
        </resources>
    </global>  
</config>    
